# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

# Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Build outputs
*.dll
*.exe
*.pdb
!src/MediaSnap/Assets/*.ico

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
